.section-layout {
}
.section-layout button {
  appearance: none;
  display: inline-flex;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-shadow: none;
  min-height: 40px;
  border-radius: 3px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 14px 24px;
  text-transform: none;
  margin: 0px;
  height: auto;
  text-align: center;
}
/*  */

.heading-text {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-lg);
}
.body-text {
  font-weight: var(--font-weight-md);
  font-size: var(--font-size-md);
}
.secondary-section .heading-text {
  font-size: var(--font-size-lg);
}
.secondary-section .body-text {
  font-size: var(--font-size-md);
}
.card .heading-text {
  font-size: var(--font-size-sm);
}
.card .body-text {
  font-size: var(--font-size-sm);
}
