/* pseudo-content trick - stretch link layout over whole card: card "container" position: relative; a::after pseudo-content left, top, right, and bottom value = 0 */

/* Hover & Focus Styles  */

/* box-shadow respects border-radius modifications; outline always remains squared */
.card:hover {
  box-shadow: 0 0 0 0.25rem;
}
/* basic focus style (:focus only applies to link) */
.card a:focus {
  text-decoration: underline;
}
/* match :hover style with :focus-within */
.card:focus-within {
  box-shadow: 0 0 0 0.25rem;
}
/* remove unnecessary basic :focus style where :focus-within is supported (users of older browsers that do not support :focus-within will see fallback focus style */
.card:focus-within a:focus {
  text-decoration: none;
}
