.image-duo {
  /* background-color: pink; */
  height: 50vh;
  width: 100vw;
  max-width: 100%;
  flex: 0 1 auto;
  flex-wrap: wrap;
}
.image-duo-inner {
  width: 100%;
  display: flex;
  gap: 8px;
}
.image-duo-image-wrap {
  width: 50%;
  object-fit: cover;
  background-position: center;
}
.image-duo-image {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

/* @media only screen and (min-width: 900px) {
} */
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 480px) {
}
/* sizes="(min-width: 1024px) 960px,(min-width: 768px) 480px,(min-width: 480px) 240px, 240px" */
