.image-duo {
  display: flex;
  gap: var(--sizes-gap);
}
.image-duo-image {
  /* flex-basis: 3.5rem; */
  overflow: hidden;
}
.image-duo-image img {
  height: auto;
  width: 100%;
  filter: saturate(70%);
}
